body {
    background: #575353;
    color: white;
}

.navbar-brand img{
    display: inline;
    width: 100%;
    height: auto;
  }

  .navbar-brand{
    display: inline-block;
    vertical-align: middle;
    width: 70px;
  }