<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PrestaFlash</title>
    <h1></h1>
    <title>Reportes</title>
    <link rel="styleSheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../main.css">
    <!-- Agrega la biblioteca de íconos de Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" crossorigin="anonymous">


</head>
<body>




    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container">
          <a class="navbar-brand" href="#">
            <img id="logo" src="../assets/ic_launcher-web-2.png" >
            <span style="font-size: 30px;">PrestaFlash</span>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

<div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link logged-out" href="#" data-bs-toggle="modal" data-bs-target="#entrarModal">
                  Entrar
                  <i class="fas fa-sign-in-alt ml-2"></i> <!-- Icono de entrada -->
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link logged-in" href="respaldo.html" id="respaldo">
                  Respaldos
                  <i class="fas fa-save ml-2"></i> <!-- Icono de reportes -->
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link logged-in" href="reportes.html" id="reportes">
                  Reportes
                  <i class="fas fa-chart-bar ml-2"></i> <!-- Icono de reportes -->
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link logged-in" href="usuario.html" id="usuarios">
                  Usuarios
                  <i class="fas fa-users ml-2"></i> <!-- Icono de usuarios -->
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link logged-in" href="dispositivo.html" id="usuarios">
                  Equipos Moviles
                  <i class="fas fa-mobile-alt ml-2"></i> <!-- Icono de equipos móviles -->
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link logged-in" href="#" id="logout">
                  Salir
                  <i class="fas fa-sign-out-alt ml-2"></i> <!-- Icono de salida -->
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

         <div class="container">
          <h1><i class="fas fa-chart-bar ml-2"></i>Reportes</h1>

          <br> </br>
              <!--  -->
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Recuperaciones por Rango de Fecha</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Colocacion por rango de fecha</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false"></button>
        </li>
      </ul>


      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <!-- Recuperaciones por Rango de Fecha -->
            <div class="container">
              <form class="row align-items-end">
                <div class="col-md-3">
                  <label for="fechaInicio" class="form-label">Fecha de inicio:</label>
                  <input type="date" id="fechaInicio" class="form-control">
                </div>
            
                <div class="col-md-3">
                  <label for="fechaFin" class="form-label">Fecha de fin:</label>
                  <input type="date" id="fechaFin" class="form-control">
                </div>
            
                <div class="col-md-6 mt-2">
                  <button id="buscarButton" class="btn btn-primary me-2">
                    <i class="fa fa-search me-2"></i> Buscar
                  </button>
            
                  <button id="limpiarTablaButton" class="btn btn-primary">
                    <i class="fa fa-refresh me-2"></i> Limpiar Tabla
                  </button>
                </div>
              </form>
            </div>
            
            
            
            

            <br>
            <div class="row">
                <div class="col-lg-10">

                      <table id="tablaProductos" class="table table-bordered  text-light">
                        <thead>
                          <tr class="bg-dark text-light">
                            <th scope="col" class="bg-dark text-light">Cliente</th>
                            <th scope="col" class="bg-dark text-light">Cartera</th>
                            <th scope="col" class="bg-dark text-light">Monto</th>
                            <th scope="col" class="bg-dark text-light">fecha</th>
                            <!-- <th scope="col" class="bg-dark text-light">ACCIONES</th> -->
                          </tr>
                        </thead>
                      <tbody id="bodyProductos" >
                      </tbody>
                      </table>
                      <div id="totalMontoAbonado"></div>
                      <br>
                      <button id="exportXlsButton" type="button" class="btn btn-success">
                        <i class="fa fa-file-excel-o mr-2"></i> 
                        Exportar a XLS
                      </button>
                      <!-- <button id="exportPDFButton">Exportar a PDF</button> -->
                </div>
              </div>



        </div>
        
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
           <!--  colocaciones -->

  <!-- Recuperaciones por Rango de Fecha -->
   <!-- Recuperaciones por Rango de Fecha -->
   <div class="container">
    <form class="row align-items-end">
      <div class="col-md-3">
        <label for="fechaInicioc" class="form-label">Fecha de inicio:</label>
        <input type="date" id="fechaInicioc" class="form-control">
      </div>
  
      <div class="col-md-3">
        <label for="fechaFinc" class="form-label">Fecha de fin:</label>
        <input type="date" id="fechaFinc" class="form-control">
      </div>
  
      <div class="col-md-6 mt-2">
        <button id="buscarButtonC" class="btn btn-primary me-2">
          <i class="fa fa-search me-2"></i> Buscar
        </button>
  
        <button id="limpiarTablaButtonC" class="btn btn-primary">
          <i class="fa fa-refresh me-2"></i> Limpiar Tabla
        </button>
      </div>
    </form>
  </div>
  <br>

  <div class="row">
      <div class="col-lg-11">
            <table id="tablacolocacion" class="table table-bordered  text-light">
              <thead>
                <tr class="bg-dark text-light">
                  <th scope="col" class="bg-dark text-light">nombre del Cliente</th>
                  <th scope="col" class="bg-dark text-light">nombre de Cartera</th>
                  <th scope="col" class="bg-dark text-light">capital Prestado</th>
                  <th scope="col" class="bg-dark text-light">descripcion de Plan</th>
                  <th scope="col" class="bg-dark text-light">frecuencia de Pago</th>
                  <th scope="col" class="bg-dark text-light">Interes</th>
                  <th scope="col" class="bg-dark text-light">Plazo En Dias</th>
                  <th scope="col" class="bg-dark text-light">Fecha de Desembolso</th>
                </tr>
              </thead>
            <tbody id="bodycolocacion" >
            </tbody>
            </table>
            <div id="totalMontocolocado"></div>
            <br>
            <div class="form-group mr-2">
            <button id="exportXlsButtonC" type="button" class="btn btn-success">
              <i class="fa fa-file-excel-o mr-2"></i> 
              Exportar a XLS
            </button>
          </div>

      </div>
    </div>




            
        </div>
        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
           <!--  Otroooo -->

            <div class="row">
                <div class="col-lg-6">
                      <table id="tablaProductos" class="table table-bordered  text-light">
                        <thead>
                          <tr class="bg-dark text-light">
                            <th scope="col" class="bg-dark text-light">Nombre</th>
                            <th scope="col" class="bg-dark text-light">Login</th>
                            <th scope="col" class="bg-dark text-light">Estado</th>
                            <th scope="col" class="bg-dark text-light">Rol</th>
                            <th scope="col" class="bg-dark text-light">ACCIONES</th>
                          </tr>
                        </thead>
                      <tbody id="bodyProductos" >
                      </tbody>
                      </table>
                </div>
              </div>

        </div>
      </div>
    <!--  -->


      </div>
<!--       <ul id="userList"></ul>

      <div id="userDetail"></div>
        <p >Name :<strong class="detailName"></strong></p>  -->
     

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9.14.4/dist/sweetalert2.all.min.js"></script> 

  <!-- SCRIPTS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Toastify js -->
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
   <script src="../scripts/reportes.js" type="module"></script>
      <!-- Optional JavaScript -->

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <!--<script src="https://www.gstatic.com/firebasejs/7.15.0/firebase.js"></script>-->
    <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
     <script type="text/javascript" src="../scripts/reportes.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.4/xlsx.full.min.js"></script>
</body>
</html>
